<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.OrderMapper">  



<!-- 
public class OrderDTO {	
	String orderNo;  //주문번호
	String userid;   //사용자id
	String name;    //이름
	String tel;
	String price ;//  총주문금액  
}

  
  * // 조인된 쿼리를 저장할 테이블
 create table ordera(
     orderno varchar2(10) primary key, 
     userid  varchar2(10),
     username varchar2(20),
     tel    varchar2(20) ,
     price   varchar2(10)  
 );
 
 
insert into ordera  values(  'o001', 'm01', 'hong',  '222-111' '25000');
 
INSERT INTO membera (userid, username, tel) VALUES ('m01', '홍길동', '010-1234-5678');
INSERT INTO membera (userid, username, tel) VALUES ('m02', '김철수', '010-2345-6789');
 
commit;
 
 -->
 
 <!--  resultMap 사용하는 경우  테이블의 컬러명과 DTO객체의 속성명이 다른경우 --> 
<!--  MyBatis는 대소문자를 구별하지 않고 자동으로 매핑 ,  ###소대문자는 상관없음 !! -->
<!--  컬럼명과 객체의 이름이 다른 경우는 별도의 매핑이 필요하다 ## 이름이 다르면 안됨 !! -->
	<resultMap id="orderResult"  type="OrderDTO">
		<result property="orderno" column="orderno" />
		<result property="userid"  column="userid" />
		<result property="name"    column="username" />
		<result property="tel"     column="tel" />
		<result property="price"   column="price" />
	</resultMap>


    
    <select id="selectAll" resultType="OrderDTO">
        SELECT o.orderno,  o.userid , m.username  ,  m.tel ,  o.price
        FROM   ordera      o
        JOIN   membera    m
        ON  o.userid = m.userid           
    </select>
     
     
        
    <select id="selectAll2" resultMap="orderResult">
        SELECT orderno,  o.userid     , m.username,  m.tel , o.price
        FROM   ordera      o
        JOIN   membera    m
        ON  o.userid = m.userid            
    </select>
    
    <select id="selectAll3" resultType="map">
    SELECT o.orderno,  o.userid, m.username, m.tel, o.price
    FROM   ordera o
    JOIN   membera m
    ON     o.userid = m.userid
</select>
    
     
</mapper>